:root {
    --colorPrincipal: #F9EBDE;
    --colorSecundario: #815854;
}

header{
    padding: 1em;
    display: flex;
    /* flex-end, para que este a la derecha */
    justify-content:space-between;
    background: var(--colorSecundario);
    margin-bottom: 30px;
    
    }
    .headerList {
    list-style-type: none;  
    margin: 0;  
    padding: 0; 
    display: flex;
    align-items: center;
    }
    
    .headerList a {
    margin-right: 20px;
    padding: 7px;
    background-color: var(--colorPrincipal);
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    }
    .especial{
    margin-left: 10px;
    }
    .buscar{
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    }
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--colorPrincipal);
}
main{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    height: 260px;
    width: 210px;
    background: var(--colorSecundario);
    border: 3px solid rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 10px;
    overflow: hidden; 
    /*overflow: hidden; hace que no se vea salir desde fuera */
    position:relative;
}
.info{
    object-fit: contain;
    transform: translateY(101%);
    color:black;
}

ul{
    list-style: none;
}

.name{
    text-align: center;
    margin-top: 5px;
    color:whitesmoke;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* para que no se salga de img */
    border-radius: 10px;
}
.info{
    position: absolute;
    /* Al establecer position: absolute;, la posición de .info se basará en su elemento padre, en este caso, la .card. */
    left:0;
    right: 0;
    /* left y right a 0 puesto que habian margenes que no se completaban */
    bottom: 0;
    /* Esto coloca la parte inferior de .info  */
    background: rgb(248, 248, 255,0.6);
    padding: 1em;
    /* el 100% del padre */
    max-height: 100%;
    /*transicion */
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
/* transicion */
.card:hover .info {
    transform: translateY(0);
}


.card:hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 0.8s; 
    transition-timing-function: ease-in-out;
    z-index: 1;
    transform: scale(1.05);
}

.card:hover .info {
    transform: translateY(0);
    z-index: 2;
}

.card:hover .name {
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

@media screen and (max-width: 600px){

    :root {
        --colorSecundario: #F9EBDE;
        --colorPrincipal: #815854;
    }

    .card h2, h1{
        color:rgb(0, 0, 0);
    }
    .headerList a{
        color:whitesmoke;
    }
}