@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&family=Lato:ital,wght@1,700&display=swap');

:root {
    --color1: #3f5a3f;
    --color2: #588157;
}

*{
    margin: 0;
    padding: 0;
    color:whitesmoke;
    font-family: 'Courier Prime', monospace;
    font-family: 'Lato', sans-serif;
}

header{
    padding: 1em;
    display: flex;
    justify-content:space-between;
    background: linear-gradient(#2d432d, var(--color1));
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

.headerList {
    list-style-type: none;  
    margin: 0;  
    padding: 0; 
    display: flex;
    align-items: center;
}

.headerList a {
    margin-right: 20px;
    padding: 7px;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color:black;
}

.special{margin-left: 10px;}

.search{
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color:black;
    height: 17px;
}

body{background: linear-gradient(var(--color2), rgb(60, 99, 56))}

ul{list-style: none;}

h1{margin-bottom: 20px;}

.residents{margin-top: 20px;}

img{
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
}
.card{
    min-height: 200px;
    background: var(--color2);
    margin: 25px;
    padding: 30px;
    border-radius: 15px;
    background: rgb(60, 99, 56);
}

.list{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(var(--color2), rgb(60, 99, 56));
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
}

ul{margin-bottom: 20px;}

/* @media screen and (max-width: 600px){

:root {
    --colorSecundario: #F9EBDE;
    --colorPrincipal: #815854;
}

.card h2, h1{
    color:rgb(0, 0, 0);
}
.headerList a{
    color:whitesmoke;
}
} */